.container-full-screen { min-height: 100vh; }

/*BACKGROUNDS*/

.be-black  		  { background: #000000 !important; }
.be-gray-dark   { background: #2D3536 !important; }
.be-gray-medium { background: #686868 !important; }
.be-gray-light  { background: #F7F7F7 !important; }
.be-orange 		  { background: #F5931E !important; }
.be-transparent { background: transparent !important; }
.be-white  		  { background: white !important; }

/*BORDER RADIUS*/
.no-border { border: 0px; }
.border-radius-25     {	border-radius: 25px; }
.border-radius-15     {	border-radius: 15px; }
.border-radius-10     {	border-radius: 10px; }
.border-radius-6			{ border-radius: 6px; }
.border-radius-circle {	border-radius: 50%; }

/*MARGIN*/

.no-margin   { margin: 0px !important;  }
.margin-auto { margin: auto; }
.margin  		 { margin: 15px; }
.margin_sm   { margin: 5px;  }
.margin_md   { margin: 25px; }
.margin_lg   { margin: 40px; }

.margin_t-55    { margin-top: -55px; }
.margin_t    { margin-top: 15px; }
.margin_sm_t { margin-top: 5px; }
.margin_md_t { margin-top: 25px; }
.margin_lg_t { margin-top: 40px; }

.no-margin_b { margin-bottom: 0px !important; }
.margin_b    { margin-bottom: 15px; }
.margin_sm_b { margin-bottom: 5px; }
.margin_md_b { margin-bottom: 25px; }
.margin_lg_b { margin-bottom: 40px; }

.margin_l-44 { margin-left: -44px; }
.no-margin_l { margin-left: 0px; }
.margin_l    { margin-left: 15px; }
.margin_sm_l { margin-left: 5px; }
.margin_md_l { margin-left: 25px; }
.margin_lg_l { margin-left: 40px; }

.margin_r    { margin-right: 15px; }
.margin_sm_r { margin-right: 5px; }
.margin_md_r { margin-right: 25px; }
.margin_lg_r { margin-right: 40px; }

.margin_b-t
{
	margin-bottom: 15px;
	margin-top   : 15px;
}



.margin_sm_b-t
{
	margin-bottom: 5px;
	margin-top   : 5px;
}

.margin_md_b-t
{
	margin-bottom: 25px;
	margin-top   : 25px;
}

.margin_lg_b-t
{
	margin-bottom: 40px;
	margin-top   : 40px;
}

.margin_l-r
{
	margin-left : 15px;
	margin-right: 15px;
}

.margin_sm-l-r
{
	margin-left : 5px;
	margin-right: 5px;
}

.margin_md_l-r
{
	margin-left : 25px;
	margin-right: 25px;
}

.margin_lg_l-r
{
	margin-left : 40px;
	margin-right: 40px;
}

/*PADDING*/

.no-padding   { padding: 0px !important; }
.padding-auto { padding: auto; }
.padding      { padding: 15px; }
.padding_sm   { padding: 5px;  }
.padding_md   { padding: 25px; }
.padding_lg   { padding: 40px; }

.no-padding_t { padding-top: 0px!important; }
.padding_t    { padding-top: 15px !important; }
.padding_sm_t { padding-top: 5px !important;  }
.padding_md_t { padding-top: 25px !important; }
.padding_lg_t { padding-top: 40px; }

.no-padding_b { padding-bottom: 0px!important; }
.padding_b    { padding-bottom: 15px; }
.padding_sm_b { padding-bottom: 5px;  }
.padding_md_b { padding-bottom: 25px; }
.padding_lg_b { padding-bottom: 40px; }

.no-padding_l { padding-left: 0px!important; }
.padding_l    { padding-left: 15px; }
.padding_sm_l { padding-left: 5px;  }
.padding_md_l { padding-left: 25px; }
.padding_lg_l { padding-left: 40px; }

.no-padding_r { padding-right: 0px!important; }
.padding_r    { padding-right: 15px; }
.padding_sm_r { padding-right: 5px;  }
.padding_md_r { padding-right: 25px; }
.padding_lg_r { padding-right: 40px; }

.padding_b-t
{
	padding-bottom: 15px;
	padding-top   : 15px;
}

.padding_xs_b-t
{
	padding-bottom: 4px !important;
	padding-top   : 4px !important;
}

.padding_sm_b-t
{
	padding-bottom: 5px;
	padding-top   : 5px;
}

.padding_md_b-t
{
	padding-bottom: 25px;
	padding-top   : 25px;
}

.padding_lg_b-t
{
	padding-bottom: 40px;
	padding-top   : 40px;
}

.padding_l-r
{
	padding-left : 15px;
	padding-right: 15px;
}

.padding_sm-l-r
{
	padding-left : 5px;
	padding-right: 5px;
}

.padding_md_l-r
{
	padding-left : 25px;
	padding-right: 25px;
}

.padding_lg_l-r
{
	padding-left : 40px;
	padding-right: 40px;
}

/*ZOOM*/

.zoom, .zoom_md,.zoom-objetive {	
	transition: transform .3s; 
}

.zoom:hover     { transform: scale(1.2); }
.zoom_md:hover  { transform: scale(1.5); }

.zoom-objetive    { transform: scale(1.2); }
.zoom-objetive_md { transform: scale(1.5); }

/*WITH*/

.full-width { width: 100%; }

/*DISPLAY*/

.display-flex         { display: flex; }
.display-block        { display: block; }
.display-inline-block { display: inline-block; }
.display-inline       { display: inline; }
.display-none         { display: none; }

/* OVERFLOWS */
.overflow-auto { overflow: auto !important; }