
/*
@font-face {
    font-family: "Dosis";
    src: url(../Dosis/Dosis-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Dosis";
    src: url(../Dosis/Dosis-Regular.ttf) format("truetype");
}
*/
* {
	border: 0px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}


/* BORDES	*/


.border-card-r { border-right: 1px solid #dfdfdf; }
.border-superior-verde {	border-top: 2px solid #009D48 !important; }
.border-izquierdo-verde {	border-left: 2px solid #009D48 !important; }
.border-inferior-verde {	border-bottom: 2px solid #009D48 !important; }
.border-derecho-verde {	border-right: 2px solid #009D48 !important; }
.no-border { 
	border-top: none !important; 
	border-bottom: none !important; 
}

.border-radius-top { border-radius: 10px 10px 0px 0px; }
.border-radius-bottom { border-radius: 0px 0px 5px 5px; }


/*	BACKGROUND COLORS	*/

.bg-gris { background-color: rgba(104, 104, 104, 0.1) !important;	}
.bg-gris-l {	background-color: rgba(104, 104, 104, 0.2) !important;	}
.bg-gris-uvm {	background-color: #BABBBD !important;	}
.bg-verde {	background-color: #009D48 !important; }
.bg-verde-l {	background-color: rgba(0, 157, 72, 0.4) !important; }
.bg-rojo	{	background-color: #EE2D24 !important; }
.bg-amarillo-l {	background-color: rgba(239, 206, 22, 0.4) !important; }

.bg-blanco-b-radius {
	background: #fff9;
	border-radius: 15px;
	padding: 5px;
}


/* FONT COLORS */

.font-color-black  { color: #000000 !important; }
.font-color-gray-d { color: #3B4445 !important; }
.font-color-gray-l { color: #686868 !important; }
.font-color-gray-uvm { color: #BABBBD !important;	}
.font-color-white {	color: #FFFFFF !important;	}
.font-color-green { color: #009D48 !important; }
.font-color-red  { color: #EE2D24 !important; }
.font-color-orange  { color: #E96516 !important; }


/*	FONT STYLE	*/

.extra-light {	font-weight: 200	!important; }
.semi-bold {	font-weight: 600	!important;	}
.text-italic {  font-style: italic	!important; }
.text-no-underline { text-decoration: none	!important; }
.text-no-underline:hover { text-decoration: none	!important; }
.text-underline { text-decoration: underline	!important; }

/* TEXT TRANSFORM */
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

/*	FONT ALIGN	*/

.text-center {	text-align: center	!important; }
.text-justify {	text-align: justify	!important; }
.text-left {	text-align: left	!important;	}
.text-right {	text-align: right	!important;	}

/* SANGRÍA */
.sangria-xs { text-indent: 10px; }
.sangria-sm { text-indent: 20px; }
.sangria-md { text-indent: 50px; }


/* FONT SIZE */

.text-size-8   { font-size: 8pt !important; }
.text-size-9   { font-size: 9pt !important; }
.text-size-10  { font-size: 10pt !important; }
.text-size-11  { font-size: 11pt !important; }
.text-size-12  { font-size: 12pt !important; }
.text-size-13  { font-size: 13pt !important; }
.text-size-14  { font-size: 14pt !important; }   
.text-size-15  { font-size: 15pt !important; }
.text-size-16  { font-size: 16pt !important; }
.text-size-17  { font-size: 17pt !important; }
.text-size-18  { font-size: 18pt !important; }
.text-size-19  { font-size: 19pt !important; }
.text-size-20  { font-size: 20pt !important; }
.text-size-21  { font-size: 21pt !important; }
.text-size-22  { font-size: 22pt !important; }
.text-size-23  { font-size: 23pt !important; }
.text-size-24  { font-size: 24pt !important; }
.text-size-25  { font-size: 25pt !important; }
.text-size-26  { font-size: 26pt !important; }
.text-size-27  { font-size: 27pt !important; }
.text-size-28  { font-size: 28pt !important; }
.text-size-29  { font-size: 29pt !important; }
.text-size-30  { font-size: 30pt !important; }
.text-size-35  { font-size: 35pt !important; }
.text-size-36  { font-size: 36pt !important; }
.text-size-38  { font-size: 38pt !important; }
.text-size-46  { font-size: 46pt !important; }
.text-size-40  { font-size: 40pt !important; }
.text-size-53  { font-size: 53pt !important; }
.text-size-70  { font-size: 70pt !important; }
.text-size-100 { font-size: 100pt !important; }

/*	FONT-SIZE @MEDIA	*/

.section-title {
	font-size: 1.5rem;
	margin-bottom: -0.1rem;
}

.section-sub-title {
	font-size: 1rem;
	margin-bottom: -0.1rem;
}

.section-description {	font-size: 10pt;	}
.section-message {	font-size: 11pt;	}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.section-title { font-size: 2.5rem; }
	.section-sub-title { font-size: 1.7rem; }
	.section-description { font-size: 12pt; }
	.section-message {	font-size: 12pt;	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.section-title { font-size: 2.8rem; }
	.section-sub-title { font-size: 2rem; }
	.section-description { font-size: 13pt; }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }


/* CURSOR POINTER */

.cursor-pointer {	cursor: pointer;	}


/*	SOMBRA	*/

.sombra { text-shadow: 0 0 0.2em #716f6f !important; } /* NO LO ESTOY USANDO */


/*	MÁRGENES	*/

.footer-bg { padding: .25rem 1rem; }

.no-margin {	margin: 0px;	}

.margin1 { margin-top: -15px; }
.margin-top-sm {	margin-top: .5rem; }
.margin-top_4 { margin-top  : 4px; }
.margin-top_3 { margin-top  : 3px; }
.margin-top-10 { margin-top : 10px !important; }

.margin-bottom-sm {	margin-bottom: .5rem !important;}
.margin-bottom-4 { margin-bottom : 4px !important; }

.margin-l-16 { margin-left : -16px !important; }
.margin-l-43 { margin-left : -43px !important; }
.margin-r-44 { margin-right: -44px !important; }
.margin-r-50 { margin-right: -50px !important; }

.margin-l-200 { margin-left: 200px; }

.margin-l-r-10 {	margin-left: 10px; margin-right: 10px;	}
.margin-l-r-5 {	margin-left: 5px; margin-right: 5px;	}

.margin-t-b_2rem { margin: 2rem 0rem !important; }


/*	PADDINGS	*/

.padding-12 { padding: 12px !important; }
.padding-bottom-3 {padding-bottom: 3px !important;}


/*	WIDTH'S	*/
.width-160px {	width: 160px !important;	}
.width_130 { width: 130px !important; }

/*	CONFIGUARCIÓN DEL CONTENIDO DE LAS TARJETAS	*/

.card-titulo { 
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis; 
}

.parrafo-card {
	word-wrap: break-word;
}


/*	MODIFICACIONES AL FORM-CONTROL PARA TEXTAREA	*/
.form-control-textarea {
	background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  font-size: .875rem;
  color: #565656;
  padding: 8px 12px;
  width: 100%;
  height: 100px;
  webkit-box-shadow: none;
  box-shadow: none;
}

.color-input {
	background-color: #FFFFFF;
  -webkit-box-shadow: none;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  box-shadow: none;
  color: #565656;
  font-size: .875rem;
  height: 35px;
  padding: 0px 3px;
}

/*	CONTAINERS MODIFICATIONS	*/

.new-container-fluid{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px; !important;
	padding-right: 0px; !important;
	width: 100%;
}

.new-container-fluid .row {
	margin: auto;
	padding-bottom: .5rem;
}

/*	LISTS	*/
.type-none {	list-style-type: none;	}


/*	JUMBOTRON	*/
.jumbotron-margin-bottom { /* NO FUNCIONA */
	margin-bottom: 0px; !important;
}


/* CONFIGURACIÓN DE ALTURA	---> No lo sé usar */	
.altura {
	min-height: 80vh; 
}
/* INPUT TYPE = FILE */
.input-file {
	background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  color: #565656;
  font-size: .875rem;
  padding: 0px 4px 0px 0px;
}

